@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --violet: #8a4c7d;
  --white: hsl(0 0% 100%);
  --peach: hsl(358 98% 83%);
  --gold: hsl(55 66% 69%);
  --darkPeach: rgb(253, 150, 155);
  --altTxt: hsl(234 22% 37%);
  --background: hsl(0, 0%, 96%);
  --gradient: radial-gradient(
    circle,
    rgba(138, 76, 125, 1) 35%,
    rgba(253, 150, 155, 1) 100%
  );

  --Skeleton: hsl(0, 0%, 80%);
}


@layer base {
  body {
    background-color: var(--background);
    color: var(--altTxt);
  }
}

@layer utilities {
  .no-scroll {
    overflow: hidden;
  }

  .text-balance {
    text-wrap: balance;
  }

  .gradient {
    background: var(--gradient);
  }

  .fullCenter {
    justify-content: center;
    align-items: center;
  }

  .roll-dice {
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.18);
  }
  .roll-dice:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
  }
  .die-face {
    box-shadow: 0px 3.57447px 3.57447px rgba(0, 0, 0, 0.1);
  }

  .baloon {
    animation: slide ease-in-out forwards;
  }
  .light-peach-bg {
    background-color: var(--peach);
  }
  .light-peach-text {
    color: var(--peach);
  }

  .dark-peach-bg {
    background-color: var(--darkPeach);
  }
  .dark-peach-text {
    color: var(--darkPeach);
  }

  .violet-bg {
    background-color: var(--violet);
  }
  .violet-text {
    color: var(--violet);
  }
  .violet-border {
    border-color: var(--violet);
  }
}


@layer components {

  dialog[open]::backdrop {
    animation: fade-in 450ms forwards;
  }

  dialog[open] {
    animation: slide-down 500ms forwards;
  }

  div[data-visible='true'] {
    animation: fade-in 450ms forwards;
  }

  .skeleton {
    background: var(--Skeleton);
    background-size: 200% 100%;
    animation: beat 3s infinite;
  }

  .loader {
    width: 48px;
    height: 48px;
    margin: auto;
    position: relative;
  }

  .loader:before {
    content: '';
    width: 48px;
    height: 5px;
    background: #f0808050;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow324 0.5s linear infinite;
  }

  .loader:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #f08080;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    animation: jump7456 0.5s linear infinite;
  }
  
  ::-webkit-scrollbar {
    width: 0.525rem;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--altTxt);
    border-radius: 100vh;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
}

/* animations */
@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {
  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}

@keyframes slide {
  0% {
    transform: translateY(200rem);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes beat {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-down {
  from {
    opacity: 0.8;
    transform: translateY(-2.3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
